# Environment
NODE_ENV=local

# API Settings
PORT=5050
API_PREFIX=

# Auto-seed Configuration
AUTO_SEED=false
CLEAR_ON_RESTART=true
SEED_FILE=./data/seed-test.yml

# CORS
CORS_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
